services:
  express-dev:
    build:
      context: .
      target: development
    container_name: express-dev
    ports:
      - "5000:5000"
    volumes:
      - .:/app
    command: npm run dev
    env_file:
      - .env
    restart: unless-stopped